<div class="l w-230">
<div class="m-t10 p-b10 sidebar gl_manage">
	<h2 class="col-h2"><span onclick="expand('usermanage');">个人资料</span></h2>	
	<ul id="usermanage">
		<li><a href="#" target="_self" class="on"><%=image_tag "wiki_pku/grzl.gif"%>个人资料</a></li>
		<li><a href="#" target="_self"><%=image_tag "wiki_pku/change_pw.gif"%>修改密码</a></li>
		<li><a href="#" target="_self"><%=image_tag "wiki_pku/grzl_set.gif"%>修改头像</a></li>
	</ul>
</div>
<div id="block_left"></div>
</div>
