<script type="text/javascript">
$(document).ready(function(){
	$("#tpbk img,#tjct img").each(function(i){
		var w = this.width;
		var h = this.height;
		if(w > 100 || h > 75){
			if(w/h>4/3){
				this.style.width = "100px"
			}else{
				this.style.height = "75px"
			}
		}
	});
	
	$("input[name*='searchtext']") .focus();
});
</script>

<div class="l w-710 o-v">

	<div class="l w-270">
    	<div id="block_ctop1"><div id="reci" class="columns  reci " bid="1">
	<h2 class="col-h2">标本薄片</h2>
	<a href="index.php?list-recentupdate-30
		" class="more">更多>></a>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-489						"  title="白云石 Dolomite（含360度展示）">白云石 Dolomite（含360...</a></dt>
			<dd>白云石 Dolomite[<a href="index.php?doc-view-489						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-491						"  title="白云母 Muscovite (含360度展示)">白云母 Muscovite (含3...</a></dt>
			<dd>白云母 Muscovite[<a href="index.php?doc-view-491						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-369						"  title="滑石Talc(含360度展示)">滑石Talc(含360度展示)...</a></dt>
			<dd>滑石[<a href="index.php?doc-view-369						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-369						"  title="滑石Talc(含360度展示)">滑石Talc(含360度展示)...</a></dt>
			<dd>滑石[<a href="index.php?doc-view-369						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-369						"  title="滑石Talc(含360度展示)">滑石Talc(含360度展示)...</a></dt>
			<dd>滑石[<a href="index.php?doc-view-369						"  class="entry">详细</a>]</dd>
		</dl>
	</div>
</div>
</div>
	<div class="w-430 r">
    	<div id="block_ctop2"><div id="jcct" class="columns jcct " bid="2">
<h2 class="col-h2">文档资料</h2>
<a href="index.php?doc-doclist-2
"  class="more">更多>></a>

    <ul class="col-ul point font-14 link_blue ">
                    <li><img class="fj_img" src="style/default/attachicons/image.gif"/><a href="index.php?attachment-download-912" >main01.jpg</a></li>
            &nbsp;&nbsp;                    <li><img class="fj_img" src="style/default/attachicons/image.gif"/><a href="index.php?attachment-download-126" >IMG_6952.jpg</a></li>
            &nbsp;&nbsp;                    <li><img class="fj_img" src="style/default/attachicons/image.gif"/><a href="index.php?attachment-download-125" >IMG_6943.jpg</a></li>
            &nbsp;&nbsp;                    <li><img class="fj_img" src="style/default/attachicons/image.gif"/><a href="index.php?attachment-download-124" >IMG_6910.jpg</a></li>
            &nbsp;&nbsp;                    <li><img class="fj_img" src="style/default/attachicons/image.gif"/><a href="index.php?attachment-download-122" >IMG_6908.jpg</a></li>
            &nbsp;&nbsp;            </ul>
    
</div></div>
	</div>

<!--ad start -->


<!--ad end -->	
</div>
<div class="r w-230">
	<div id="block_right"><div id="zjpl" class="columns zjpl " bid="7">
	<h2 class="col-h2">活动成果</h2>
	<a href="index.php?category-view-5
		" class="more">更多>></a>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-475						"  title="数字矿山">数字矿山</a></dt>
			<dd>&nbsp;[<a href="index.php?doc-view-475						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-473						"  title="虚拟矿山">虚拟矿山</a></dt>
			<dd>&nbsp;[<a href="index.php?doc-view-473						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-103						"  title="教学和科研成果获奖证书">教学和科研成果获奖证书...</a></dt>
			<dd>活动成果[<a href="index.php?doc-view-103						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-182						"  title="中国煤炭工业科学技术奖">中国煤炭工业科学技术奖...</a></dt>
			<dd>&nbsp;[<a href="index.php?doc-view-182						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-181						"  title="2008年北京市教育教学成果二等奖">2008年北京市教育教学成果二等奖...</a></dt>
			<dd>&nbsp;[<a href="index.php?doc-view-181						"  class="entry">详细</a>]</dd>
		</dl>
	</div>
	<div id="tjct" class="columns tjct i6-ff " bid="9">
	<h2 class="col-h2">野外实习</h2>
	<a href="index.php?category-view-4
		" class="more">更多>></a>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-481						"  title="军庄－下苇甸地区观察点1">军庄－下苇甸地区观察点1...</a></dt>
			<dd>观察点1&nbsp;&nbsp;&nbsp; 地点：109国道路边&nbsp;&nbsp;&nbsp; 观察项目：&nbsp;&nbsp;&nbsp; （1）总结景儿峪组特点，观察景儿峪组与寒武系府君山[<a href="index.php?doc-view-481						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-480						"  title="军庄－下苇甸地区概述">军庄－下苇甸地区概述...</a></dt>
			<dd>（一）地理位置及交通下苇甸位于北京市西北，属门头沟区，距北京大学约四十公里，与北京市区有铁路和公路相通；交通相当方便。（图23）从北京永定门火车站乘火车，不到一小时就可到达；从北京阜外展览路乘36路汽车[<a href="index.php?doc-view-480						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-185						"  title="三维虚拟地质野外实习教学">三维虚拟地质野外实习教学...</a></dt>
			<dd>•实习基地地形、地貌景观重建——DEM数据+航片/遥感数据+Google Earth•典型教学地质剖面的三维重建——现场图像数据+剖面实测数据•地质过程的三维模型建设——如沉积作用、构造作用过程模拟•野[<a href="index.php?doc-view-185						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-183						"  title="区域实习简介">区域实习简介</a></dt>
			<dd>北京大学地球与空间科学学院兴城区测实习队以本科生二年级学生为主体，由长江学者张立飞教授负责，地质学系各教研室抽调指导教师并聘请相关专业专家带队指导，季建清副教授任领队，每年暑假在辽宁葫芦岛市兴城进行为期[<a href="index.php?doc-view-183						"  class="entry">详细</a>]</dd>
		</dl>
			<dl class="col-dl ">
			<dt><a href="index.php?doc-view-159						"  title="lutou2">lutou2</a></dt>
			<dd>该露头中灰岩的岩层产状与团山子组地层产状倾向近于相反，反映了两者之间存在断裂构造，进一步说明上两个露头点中断层的存在。照片号：IMG_7005～7011[<a href="index.php?doc-view-159						"  class="entry">详细</a>]</dd>
		</dl>
	</div></div>
</div>
<div class="l w-710 o-v">
	<div class="l w-270">
    	<div id="block_cbottoml"><div id="zjgx" class="columns zjgx o-v " bid="6">
    <h2 class="col-h2">图集百科</h2>
    <a href="index.php?pic-piclist-2
		" class="more">更多>></a>
                   <div class="jc_tj">
			<a href="index.php?pic-view-928-496						" class="a-img"><img src="uploads/201405/1399946500WPB5d4vA_140.jpg" height="80" width="100"></a>
			<p class="a-c"><a href="index.php?pic-view-928-496">兰铜 BlueCopper 标本2</a></p>
		</div>
                   <div class="jc_tj">
			<a href="index.php?pic-view-927-496						" class="a-img"><img src="uploads/201405/1399946445wjLVVBKB_140.jpg" height="80" width="100"></a>
			<p class="a-c"><a href="index.php?pic-view-927-496">兰铜 BlueCopper 标本1</a></p>
		</div>
                   <div class="jc_tj">
			<a href="index.php?pic-view-926-495						" class="a-img"><img src="uploads/201405/13998879833haqhP6E_140.jpg" height="80" width="100"></a>
			<p class="a-c"><a href="index.php?pic-view-926-495">石榴石Garnet</a></p>
		</div>
                   <div class="jc_tj">
			<a href="index.php?pic-view-925-494						" class="a-img"><img src="uploads/201405/1399887591H3G0v8w9_140.jpg" height="80" width="100"></a>
			<p class="a-c"><a href="index.php?pic-view-925-494">橄榄石 Peridot</a></p>
		</div>
                   <div class="jc_tj">
			<a href="index.php?pic-view-924-493						" class="a-img"><img src="uploads/201405/1399886630nZ5gH0d0_140.jpg" height="80" width="100"></a>
			<p class="a-c"><a href="index.php?pic-view-924-493">红柱石 Andalusite</a></p>
		</div>
       </div></div>
	</div>
	<div class="w-430 r">
    	<div id="block_cbottomr"><div id="block-pic-getlist-8" class="columns tpbk i6-ff " bid="8">
	<h2 class="col-h2">视频分享</h2>
	<a href="index.php?video-videolist-2
		"  class="more">更多>></a>
	</div></div>
	</div>
</div>

<!--
<div class="c-b"></div>

<div id="block_bottom"><div  class="columns i6-ff p-b8 rmbq " bid="10">
	<h2 class="col-h2">热门标签</h2>
	<ul class="col-ul list-s">
		</ul>
</div><div id="yqlj" class="columns no_col-h2 bg-gray yqlj i6-ff " bid="16">
	<ul class="col-ul list-s">
	<li><span class="bold">友情链接:</span></li>
		</ul>
</div></div>
-->

﻿<!--ad start -->


<!--ad end -->

