<div class="c-b"></div>
<div id="footer"  class="w-950">
<p id="footer-p"> Copyright @ 
	<a href="http://sess.pku.edu.cn" target="_blank">北京大学地球与空间科学学院</a>  V1.0  &copy;2014
</p>
	<span class="r gray"> 当前时区GMT+8  现在时间是 05-15 02:57 
		<a href="http://www.miibeian.gov.cn/" target="_blank" class="link_black"></a>
	</span>
</div>